<!DOCTYPE HTML>
<html lang="en/ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="container mt-5 mb-5">
        <h1>Редактирование</h1>
        <div th:each="element : ${post}">
            <form method="post">
                <input type="text" name="title" th:value="${element.title}" placeholder="Введите название статьи" class="form-control"><br>
                <input type="text" name="anons" th:value="${element.anons}" placeholder="Введите анонс статьи" class="form-control"><br>
                <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control" th:text="${element.full_text}"/><br>
                <button type="submit" class="btn btn-success">Обновить</button>
            </form>
        </div>
    </div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>